.step9-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7fafc;
  }
  
  .step9-inner-container {
    width: 573px;
    min-height: 100vh;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .step9-logo {
    margin-top: 20px;
  }
  
  .step9-logo-image {
    width: 280px;
    height: 70px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .step9-content-container {
    width: 478px;
    padding: 20px;
    border-radius: 12px;
    border: 5px solid #529174;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* 시간 선택 행 */
  .step9-time-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  
  /* 아이콘과 텍스트 세로 배치 */
  .step9-time-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .step9-icon {
    width: 80px;
    height: 80px;
    object-fit: cover;
  }
  
  .step9-label {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
    text-align: center;
  }

  .step9-colon {
    font-size: 2rem;
    margin-left: 15px;
    margin-bottom: 10px;
  }
  /* 시간 선택 박스 */
  .step9-time-select {
    display: flex;
    align-items: center;
  }
  
  .step9-select {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid rgba(98, 98, 98, 0.69);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 5px;
  }
  
  
