.news-popup-container {
    position: absolute; /* 고정 위치 설정 */
    z-index: 1000;
    cursor: grab; /* 드래그 아이콘 표시 */
    user-select: none; /* 드래그 방지 */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
}

.news-popup-container:active {
    cursor: grabbing; /* 드래그 중일 때 아이콘 변경 */
}

.news-popup-icon {
    width: 55px;
    height: 55px;
    background-color: #357e85;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none; /* 드래그 방지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.news-popup-icon:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.popup-text {
    position: absolute;
    bottom: -30px;
    font-size: 12px;
    background-color: #357e85;
    color: white;
    padding: 4px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    user-select: none; /* 드래그 방지 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.news-popup-icon:hover .popup-text {
    opacity: 1;
    transform: translateY(0);
}


.popup-text:hover {
    color: #ffffff; /* 호버 시 색상 변경 (파란색) */
    text-decoration: underline; /* 밑줄 추가 */
}

