/* 최상위 컨테이너 설정 */
.news-curation-detail-container {
    position: relative;
    width: 100%; /* 페이지 전체 너비 */
}

/* 닫기(X) 버튼 스타일 */
.news-curation-detail-close-button {
    position: absolute;
    top: 35px; /* 상단 외곽 위치 */
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 20;
    outline: none;
}

.news-curation-detail-close-icon {
    width: 23px;
    height: 23px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.news-curation-detail-close-icon:hover {
    opacity: 1; /* 마우스를 올렸을 때 강조 */
}

/* 뉴스 큐레이션 상세 스타일 */
.news-curation-detail {
    width: 80%;
    max-width: 650px;
    min-height: 400px;
    margin: 30px auto;
    padding: 30px 40px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 1px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    font-family: 'Georgia', serif;
    line-height: 1.8;
    color: #2c3e50;
    background-image: url('https://www.transparenttextures.com/patterns/paper-fibers.png');
    background-blend-mode: multiply;
    text-align: center;
}

.news-curation-detail h2 {
    font-size: 30px;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #357e85;
    padding-bottom: 10px;
    font-family: 'Times New Roman', serif;
    letter-spacing: 0.5px;
    line-height: 1.4;
}

.news-curation-detail p {
    font-size: 18px;
    color: #4f5d75;
    margin: 20px 0;
    text-align: justify;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.reference-text {
    word-break:keep-all;
    margin-right: 4px; /* 텍스트와 링크 간격 */
    font-weight: bold; /* 강조를 원할 경우 추가 */
    color: #333; /* 텍스트 색상 */
    font-family: 'Noto Sans KR', sans-serif
}

.news-curation-link-wrapper {
    display: flex; /* 같은 줄에 배치 */
    align-items: center; /* 텍스트와 URL의 세로 정렬 맞춤 */
    margin-top: 20px; /* 상단 여백 */
}

/* 하단 URL 링크 스타일 */
.news-curation-link {
    display: inline-block;
    font-size: 16px;
    color: #357e85;
    text-decoration: underline;
    margin-top: 20px;
    word-break: break-all; /* 긴 URL이 줄 바꿈되도록 설정 */
    transition: color 0.3s ease;
}

.news-curation-link:hover {
    color: #2c3e50; /* 호버 시 색상 변화 */
    text-decoration: none; /* 호버 시 밑줄 제거 */
}
