/* 전체 페이지 컨테이너 */
.chatting-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f0f0f5;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

/* 채팅 메인 박스 */
.chatting-container {
  width: 100%;
  max-width: 650px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* 전체 화면에 맞춤 */
  margin-bottom: 70px;
}

/* 메시지 표시 영역 */
.message-section {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
  margin-bottom: 70px; /* 입력란과 겹치지 않도록 여백 */
  overflow: visible; /* 스크롤 제거 */
}

/* 메시지와 아이콘을 포함하는 컨테이너 */
.message-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

.message-container.sent {
  justify-content: flex-end;
}

.message-container.received {
  justify-content: flex-start;
}

/* 답장 아이콘 스타일 */
.message-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 메시지 텍스트 스타일 */
.chatting-message {
  max-width: 70%;
  padding: 12px 27px;
  border-radius: 15px;
  font-size: 15px;
  line-height: 1.4;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.chatting-message-received {
  background-color: #e1e1e6;
  border-bottom-left-radius: 0;
}

.chatting-message-sent {
  background-color: #4CAF50;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}

.chatting-message-sent .markdown-content {
  color: white !important;
}

/* 메시지 입력 영역 */
.input-section {
  position: fixed;
  width: 100%;
  max-width: 650px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  bottom: 70px; /* 화면 하단 고정 */
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
}

.input-box {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 15px;
  outline: none;
  margin-right: 10px;
  resize: none;
  font-family: 'Noto Sans KR', sans-serif
}

.send-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
}

.send-button:hover {
  background-color: #45a049;
}
