.header-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;

    padding: 7px 30px;

    box-sizing: border-box;
    display: flex;
    justify-content: space-between; /* divide left - right */
    z-index: 10;
    background-color: inherit;
    border-bottom: 0.125rem solid var(--primary-color);
    align-items: center;
}

.header-container .header-left-container {
    height: 100%;
    align-items: center;
    margin-left: 30px;
}

.header-container .header-right-container {
    gap: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}