/* 전체 컨테이너 설정 */
.step5-container {
    background-color: #f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* 내부 컨테이너 설정 */
  .step5-inner-container {
    width: 573px;
    min-height: 100vh;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  /* 로고 이미지 설정 */
  .step5-logo {
    margin-top: 20px;
  }
  
  .step5-logo-image {
    width: 280px;
    height: 70px;
    object-fit: cover;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  
  /* 컨텐츠 컨테이너 설정 */
  .step5-content-container {
    width: 478px;
    height: auto;
    border: 5px solid #529174;
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  /* 카드 텍스트 설정 */
  .step5-card-text {
    font-size: 1.875rem;
    font-weight: 500;
    color: #000;
    margin-top: 20px;
  }
  
  /* 과거력 아이콘 설정 */
  .step5-history-icon {
    width: 190px;
    height: 190px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 18px;
  }
  
  /* 입력 박스 설정 */
  .step5-input-box {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #f0f0f0;
    border: 1px solid rgba(98, 98, 98, 0.69);
    border-radius: 10px;
  }
  
  /* 입력 텍스트 설정 */
  .step5-input-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: #000;
    text-align: left;
  }
  
  /* 하단의 단계 표시 및 화살표 설정 */
  .step5-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
  }
  
  .step5-step-indicator {
    font-size: 40px;
    font-weight: 700;
    color: #529174;
  }
  
  .step5-prev-arrow,
  .step5-next-arrow {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    object-fit: cover;
    cursor: pointer;
  }
  

  .step5-select-container {
    width: 100%;
    margin-top: 25px;
  }
  
  .step5-select {
    width: 100%;
    min-width: 400px;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }