* {
  margin: 0;
  padding: 0;
  color: black;
}

:root {
  --background-grey: #f5f5f5;
  --background-white: #fafafa;

  --error: #ff3a22;
  --success: #54C532;
  
  --primary-color: #218130;

  --max-width: 650px;
  --min-width: 450px
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #efefef;
}
